* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: sans-serif;
    background-color: white;
    height: 100%;
    max-width: 100%;
    margin: 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

/* || Main Image Element Style */

    .container_immagine_principale{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/ChiSiamo/Background1.jpg") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }

    .frase{
        color: white;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 50px;
        font-weight: lighter;
        text-transform: uppercase;
        opacity: 0;
        animation: fadeInFrase 1s ease-out forwards;
    }

    @keyframes fadeInFrase {
        to {
            opacity: 1;
        }
    }

    @media (min-width: 600px) {

        .frase{
            font-size: 50px;
        }

    }

    @media (min-width: 1024px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/ChiSiamo/Background1.jpg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 64px;
        }

    }

    @media (min-width: 1920px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/ChiSiamo/Background1.jpg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 64px;
        }

    }

/* ... */




/* || Since */

    .sinceText{
        width: 100%;
        padding: 50px 0;
        display: block;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 70px;
        text-align: center;
        color: white;
        -webkit-text-stroke: 2px #770404;
        text-stroke: 2px #770404;
        transition: color 1s;
    }

    .sinceText:hover{
       color: #770404;
    }

    @media (min-width: 600px){

        .sinceText{
            font-size: 110px;
        }

    }

    @media (min-width: 1024px){

        .sinceText{
            font-size: 130px;
        }

    }

    @media (min-width: 1920px){

        .sinceText{
            font-size: 200px;
        }

    }

/* ... */




/* || Sezione "La Nostra Storia" Element */

    .sezione_laNostraStoria{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sezione_laNostraStoria .container_immagine{
        display: block;
        flex-basis: 100%;
        height: 300px;
    }

    .sezione_laNostraStoria .container_descrizione{
        display: block;
        flex-basis: 100%;
        padding: 5% 7%;
    }

    .sezione_laNostraStoria  .container_descrizione .header_descrizione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: black;
        font-weight: lighter;
    }

    .sezione_laNostraStoria  .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: black;
    }

    .btn_type1{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: white;
        font-weight: bold;
        background-color: rgba(119,4,4,1);
        padding: 10px 30px 10px 30px;
        margin: 20px auto 20px auto;
        border: none;
        cursor:pointer;
        box-shadow: 5px 5px 10px black;
        border-radius: 20px;
        transition: background-color 1s ease, color 1s ease;
    }

    .btn_type1:hover{
        color: #770404;
        background-color: white;
    }

    @media (min-width: 600px) {

        .sezione_laNostraStoria .container_immagine{
            height: 400px;
        }

    }

    @media (min-width: 1024px) {

        .sezione_laNostraStoria{
            flex-wrap: nowrap;
            align-items: stretch;
            padding: 3% 0% 3% 0%;
            gap:40px;
        }

        .sezione_laNostraStoria .container_immagine{
            flex-basis: 40%;
        }

        .sezione_laNostraStoria .container_descrizione{
            flex-basis: 60%;
            padding: 0% 5% 0% 0%;
        }

    }

    @media (min-width: 1920px) {

        .sezione_laNostraStoria  .container_descrizione .header_descrizione{
            font-size: 50px;
        }

        .sezione_laNostraStoria  .container_descrizione .body_descrizione{
            font-size: 24px;
        }

        .btn_type1{
            font-size: 22px;
        }

    }

/* ... */




/* || Immagine divisoria */

    .container_immagine_divisoria{
        display: block;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    @media (min-width: 600px) {

        .container_immagine_divisoria{
            height: 400px;
        }

    }

    @media (min-width: 1024px) {

        .container_immagine_divisoria{
            height: 500px;
            background-attachment: fixed;
        }

    }

/* ... */




/* || Sezione "perche scegliere noi" Elementi  */

    .sezione_perche_scegliere_noi{
        padding: 10% 7% 10% 7%;
    }

    .sezione_perche_scegliere_noi .header_sezione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: black;
        font-weight: lighter;
        text-transform: uppercase;
    }

    .container_caratteristiche_azienda{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:30px;
    }

    .container_caratteristiche_azienda .container_caratteristica{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:20px
    }

    .container_caratteristiche_azienda .container_caratteristica .container_icona{
        flex-basis: 30%;
        height: 125px;
        background-color: #1d1d1b;
        box-shadow: 5px 0px 10px black;
        transform: translateY(0px);
        transition: transform 0.5s ease;
        padding: 10px;
    }

    .container_caratteristiche_azienda .container_caratteristica .container_icona:hover{
        transform: translateY(-10px);
        transition: transform 1s ease;
        cursor: pointer;
    }

    .container_caratteristiche_azienda .container_caratteristica .container_descrizione{
        flex-basis: 100%;
        display: none;
    }

    .container_caratteristiche_azienda .container_caratteristica .container_descrizione .header_descrizione{
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 26px;
        text-align: center;
        margin-bottom: 10px;
    }

    .container_caratteristiche_azienda .container_caratteristica .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-align: center;
    }

    @media (min-width: 600px) {

        .sezione_perche_scegliere_noi{
            padding: 5% 7% 5% 7%;
        }

        .container_caratteristiche_azienda{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            gap:30px;
        }

        .container_caratteristiche_azienda .container_caratteristica{
            flex-wrap: nowrap;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_icona{
            flex-basis: 18%;
            height: 150px;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione{
            flex-basis: 75%;
            display: block;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione .header_descrizione{
            text-align: left;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione .body_descrizione{
            text-align: left;
        }

    }

    @media (min-width: 1024px) {

        .sezione_perche_scegliere_noi{
            padding: 5% 10% 5% 10%;
        }

        .container_caratteristiche_azienda .container_caratteristica{
            flex-basis: 100%;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_icona{
            flex-basis: 18%;
            height: 150px;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione{
            flex-basis: 80%;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione .header_descrizione{
            font-size: 30px;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione .body_descrizione{
            font-size: 17px;
        }

    }

    @media (min-width: 1920px) {

        .sezione_perche_scegliere_noi .header_sezione{
            font-size: 50px;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_icona{
            flex-basis: 12%;
            height: 150px;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione{
            flex-basis: 84%;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione .header_descrizione{
            font-size: 34px;
        }

        .container_caratteristiche_azienda .container_caratteristica .container_descrizione .body_descrizione{
            font-size: 24px;
        }
    }

/* ... */




/* || Sezione "Il Nostro Team" Element */

    .sezione_ilNostroTeam{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sezione_ilNostroTeam .container_immagine{
        display: block;
        flex-basis: 100%;
        height: 300px;
    }

    .sezione_ilNostroTeam .container_descrizione{
        display: block;
        flex-basis: 100%;
        padding: 5% 7%;
    }

    .sezione_ilNostroTeam  .container_descrizione .header_descrizione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: black;
        font-weight: lighter;
    }

    .sezione_ilNostroTeam  .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: black;
    }


    @media (min-width: 600px) {

        .sezione_ilNostroTeam .container_immagine{
            height: 400px;
        }

    }

    @media (min-width: 1024px) {

        .sezione_ilNostroTeam{
            flex-wrap: nowrap;
            align-items: stretch;
            padding: 3% 0% 3% 0%;
            gap:40px;
        }

        .sezione_ilNostroTeam .container_immagine{
            flex-basis: 40%;
        }

        .sezione_ilNostroTeam .container_descrizione{
            flex-basis: 60%;
            padding: 0% 0% 0% 5%;
        }

    }

    @media (min-width: 1920px) {

        .sezione_ilNostroTeam  .container_descrizione .header_descrizione{
            font-size: 50px;
        }

        .sezione_ilNostroTeam  .container_descrizione .body_descrizione{
            font-size: 24px;
        }

        .btn_type1{
            font-size: 22px;
        }

    }

/* ... */

