* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: sans-serif;
    background-color: white;
    height: 100%;
    max-width: 100%;
    margin: 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}




/* || Main Image Element Style */

    .container_immagine_principale{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Contatti/background_5.jpg") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }

    .frase{
        color: white;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        text-transform: uppercase;
        opacity: 0;
        animation: fadeInFrase 1s ease-out forwards;
    }

    @keyframes fadeInFrase {
        to {
            opacity: 1;
        }
    }

    @media (min-width: 600px) {

        .frase{
            font-size: 24px;
        }

    }

    @media (min-width: 1024px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Contatti/background_5.jpg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 28px;
        }

    }

    @media (min-width: 1920px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Contatti/background_5.jpg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 28px;
        }

    }

/* ... */




/* || Sezione "Info Preventivo" Element Style */

    .sezione_info_preventivo{
        background-color: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10% 7% 10% 7%;
        gap: 20px;
    }

    .sezione_info_preventivo .container_descrizione{
        flex-basis: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .sezione_info_preventivo .container_descrizione .header_descrizione{
        flex-basis: 100%;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: black;
        font-weight: lighter;
    }

    .sezione_info_preventivo .container_descrizione .body_descrizione{
        flex-basis: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: black;
    }

    .sezione_info_preventivo .container_info{
        flex-basis: 100%;
        padding: 10% 5% 10% 5%;
        background-color: #770404;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .sezione_info_preventivo .container_info .container_sede_e_recapiti{
        flex-basis: 100%;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 20px;
    }

    .sezione_info_preventivo .container_info .container_sede_e_recapiti h1{
        color: white;
        font-size: 28px;
        font-family: "Alfa Slab One", sans-serif;
        font-weight: lighter;
    }

    .sezione_info_preventivo .container_info .container_sede_e_recapiti p{
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 16px;
    }

    .sezione_info_preventivo .container_info .container_sede_e_recapiti .btn_chiama{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap:10px;

        background-color: white;
        padding: 2px 2px 2px 2px;
        height: 30px;
        border-radius: 20px;
        border: white solid;

        cursor: pointer;
    }

    .sezione_info_preventivo .container_info .container_sede_e_recapiti .btn_chiama .icona_telefono{
        width: 8%;
        display: inline-block;
    }

    .sezione_info_preventivo .container_info .container_sede_e_recapiti .btn_chiama p{
        color: #770404;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
    }

    .sezione_info_preventivo .container_info .container_orari{
        flex-basis: 100%;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 20px;
    }

    .sezione_info_preventivo .container_info .container_orari h1{
        flex-basis: 100%;
        color: white;
        font-size: 28px;
        font-family: "Alfa Slab One", sans-serif;
        font-weight: lighter;
    }

    .sezione_info_preventivo .container_info .container_orari .container_orario {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sezione_info_preventivo .container_info .container_orari .container_orario h2{
        flex-basis: 100%;

        color: white;
        font-size: 20px;
        font-family: "Alfa Slab One",sans-serif;
        font-weight: lighter;
    }

    .sezione_info_preventivo .container_info .container_orari .container_orario .giorni{
        flex-basis: 45%;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: start;
        justify-content: left;
        gap: 10px;
    }

    .sezione_info_preventivo .container_info .container_orari .container_orario .ora{
        flex-basis: 45%;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: start;
        justify-content: left;
        gap: 10px;
    }

    .sezione_info_preventivo .container_info .container_orari .container_orario .giorni p{
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 16px;
    }

    .sezione_info_preventivo .container_info .container_orari .container_orario .ora p{
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 16px;
    }

    @media (min-width: 600px) {

        .sezione_info_preventivo{
            flex-wrap: nowrap;
            align-items: stretch;
            padding: 5% 5% 5% 5%;
        }

        .sezione_info_preventivo .container_descrizione{
            flex-basis: 55%;
        }

        .sezione_info_preventivo .container_info{
            flex-basis: 40%;
        }

    }

    @media (min-width: 1024px) {

        .sezione_info_preventivo{
            align-items: start;
            padding: 5% 10% 5% 10%;
            gap: 30px;
        }

        .sezione_info_preventivo .container_descrizione{
            flex-basis: 55%;
        }

        .sezione_info_preventivo .container_info{
            flex-basis: 40%;
            padding: 5% 3% 5% 3%;
        }



    }

    @media (min-width: 1920px) {

        .sezione_info_preventivo .container_descrizione{
            flex-basis: 55%;
        }

        .sezione_info_preventivo .container_info{
            flex-basis: 40%;
            padding: 5% 3% 5% 3%;
        }

        .sezione_info_preventivo .container_descrizione .header_descrizione{
            font-size: 50px;
        }

        .sezione_info_preventivo .container_descrizione .body_descrizione{
            font-size: 24px;
        }

        .sezione_info_preventivo .container_info .container_sede_e_recapiti h1{
            font-size: 40px;
        }

        .sezione_info_preventivo .container_info .container_sede_e_recapiti p{
            font-size: 20px;
        }

        .sezione_info_preventivo .container_info .container_sede_e_recapiti .btn_chiama{
            height: 40px;
            border-radius: 30px;
        }

        .sezione_info_preventivo .container_info .container_sede_e_recapiti .btn_chiama .icona_telefono{
            width: 11%;
        }

        .sezione_info_preventivo .container_info .container_sede_e_recapiti .btn_chiama p{
            font-size: 16px;
        }

        .sezione_info_preventivo .container_info .container_orari h1{
            font-size: 40px;
        }

        .sezione_info_preventivo .container_info .container_orari .container_orario h2{
            font-size: 32px;
        }

        .sezione_info_preventivo .container_info .container_orari .container_orario .giorni p{
            font-size: 20px;
        }

        .sezione_info_preventivo .container_info .container_orari .container_orario .ora p{
            font-size: 20px;
        }

    }

/* ... */



/* || Sezione "Richiedi Preventivo" Element Style */

    .sezione_richiedi_preventivo{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Contatti/background_16.jpg) no-repeat center center;
        background-size: cover;
    }

    .sezione_richiedi_preventivo .container_mappa{
        flex-basis: 100%;
        height: 400px;
    }

    .sezione_richiedi_preventivo .container_form{
        flex-basis: 100%;
        padding:10%;
        background: none;
    }

    .sezione_richiedi_preventivo .container_form form h1{
        font-size: 30px;
        font-family: 'Alfa Slab One', sans-serif;
        text-transform: uppercase;
        font-weight: lighter;
        color: white;
    }

    .sezione_richiedi_preventivo .container_form form p{
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 4%;
        color: white;
    }

    .sezione_richiedi_preventivo .container_form form #errore{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        height: 20px;
        color: red;
        padding: 5px;
        display: block;
        text-align: center;
    }

    .sezione_richiedi_preventivo .container_form form .container_input_dati_cliente{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-bottom: 10px;
    }

    .sezione_richiedi_preventivo .container_form form .container_input_dati_cliente .campo_form {
        flex-basis: 100%;
    }

    .sezione_richiedi_preventivo .container_form form .container_input_dati_cliente .campo_form h2{
        font-size: 18px;
        font-family: 'Alfa Slab One', sans-serif;
        font-weight: lighter;
        color: white;
    }

    .sezione_richiedi_preventivo .container_form form .container_input_dati_cliente .campo_form input{
        width: 100%;
        border: white solid;
        background: none;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
        color: white;
    }

    ::placeholder{
        color: white;
        opacity: 0.7;
    }

    .sezione_richiedi_preventivo .container_form form .campo_form_messaggio h2{
        font-size: 18px;
        font-family: 'Alfa Slab One', sans-serif;
        font-weight: lighter;
        color: white;
    }

    .sezione_richiedi_preventivo .container_form form .campo_form_messaggio textarea{
        width: 100%;
        padding:5px;
        height: 100px;
        border: white solid;
        background: none;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        word-wrap: break-word;
        color:white;
        resize: none;
    }

    .sezione_richiedi_preventivo .container_form form .container_trattamento_dati{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: stretch;
        justify-content: center;
        gap:10px;
        margin-top: 10px;
    }

    .sezione_richiedi_preventivo .container_form form .container_trattamento_dati input{
        flex-basis:3%;
        height: 30px;
        width: 30px;
        margin-top: 3px;

    }

    .sezione_richiedi_preventivo .container_form form .container_trattamento_dati p{
        flex-basis:97%;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    .sezione_richiedi_preventivo .container_form form .submit{
            display: block;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            padding: 10px 60px 10px 60px;
            margin: 10px auto 10px auto;
            border-radius: 20px;
            text-transform: uppercase;
            border: none;
            background: white;
            color: #770404;
            cursor: pointer;
        }

    @media (min-width: 600px){

        .sezione_richiedi_preventivo .container_mappa{
            height: 500px;
        }

        .sezione_richiedi_preventivo .container_form{
            padding:5%;
        }

    }

    @media (min-width: 1024px){

        .sezione_richiedi_preventivo{
            flex-wrap: nowrap;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Contatti/background_16.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_richiedi_preventivo .container_mappa {
            flex-basis: 50%;
        }

        .sezione_richiedi_preventivo .container_form{
            flex-basis: 50%;
        }

    }

    @media (min-width: 1920px){

        .sezione_richiedi_preventivo{
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Contatti/background_16.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_richiedi_preventivo .container_form form h1{
            font-size: 50px;
        }

        .sezione_richiedi_preventivo .container_form form p{
            font-size: 20px;
            margin-bottom: 20px;
        }

        .sezione_richiedi_preventivo .container_form form #error{
            font-size: 20px;
        }

        .sezione_richiedi_preventivo .container_form form .container_input_dati_cliente .campo_form h2{
            font-size: 20px;
        }

        .sezione_richiedi_preventivo .container_form form .container_input_dati_cliente .campo_form h2{
            font-size: 20px;
        }

    }




/* ... */




