footer{
    width: 100%;
    background-color: #F0B357;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 30px 5% 30px 5%;
}

.container_info{
    flex-basis: 100%;
    padding: 10px 20px 10px 20px;
}

.social_and_credits_container{
    flex-basis: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social_container{
    flex-basis: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5%;

    border-top: white solid;
    border-bottom: white solid;
}

.credits_container{
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
}

.footer-header{
    color: white;
    font-size: 26px;
    font-family: 'Alfa Slab One';
    font-weight: lighter;
    padding: 5px 0 5px 0;
}

.footer-body{
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: lighter;
    padding: 5px 0 5px 0;
}

.social{
    flex-basis: 18%;
    width: auto;
    height: auto;
}

.social:hover{
    transform: translateY(-10px);
}

.credits_container h1{
    font-family: Kristi;
    font-size: 40px;
    color: white;
}

.credits_container h1 span{
    font-family: Kristi;
    font-size: 24px;
    color: white;
}

.credits_container p{
    font-family: Montserrat;
    font-size: 15px;
    padding: 1px;
    color: white;
}



@media (min-width: 600px) {

    footer{
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 3% 7% 3% 7%;

    }

    .container_info{
        flex-basis: 60%;
        padding: 0;
    }

    .social_and_credits_container{
        flex-basis: 30%;
    }


    .social_container{
        border: none;
        flex-basis: 100%;
    }

    .credits_container{
        flex-basis: 100%;
    }

    .social{
        flex-basis: 20%;
    }

    .footer-header{
        font-size: 24px;
    }

    .footer-body{
        font-size: 16px;
    }

    .credits_container h1{
        font-family: Kristi;
        font-size: 26px;
        color: white;
    }

    .credits_container h1 span{
        font-family: Kristi;
        font-size: 18px;
        color: white;
    }

    .credits_container p{
        font-family: Montserrat;
        font-size: 12px;
        padding: 1px;
        color: white;
    }



}

@media (min-width: 1024px) {

    footer{
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 2% 10% 2% 10%;

    }

    .social{
        flex-basis: 15%;
    }

    .footer-header{
        font-size: 26px;
    }

    .footer-body{
        font-size: 18px;
    }

    .credits_container h1{
        font-family: Kristi;
        font-size: 34px;
        color: white;
    }

    .credits_container h1 span{
        font-family: Kristi;
        font-size: 18px;
        color: white;
    }

    .credits_container p{
        font-family: Montserrat;
        font-size: 15px;
        padding: 1px;
        color: white;
    }


}


@media (min-width: 1920px) {

    footer{
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 2% 12% 2% 12%;

    }

    .social{
        flex-basis: 13%;
    }


}











