* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

body, html {
    font-family: sans-serif;
    background-color: #EDEAEA;
    height: 100%;
    width: 100%;
    margin: 0;
    overscroll-behavior-y: none;
}




/* || Main Image Element Style */

    .container_immagine_principale{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Home/MainImg.png") no-repeat center center;
        background-size: cover;
        overflow: hidden;
        z-index: 30;
    }

    .overlay{
        position: absolute;
        top:0;
        left: 0;
        z-index: 20;

        display: block;
        width: 100%;
        height: 100%;
        scale: 1;
        background:url("../Immagini/Home/ImmagineDiCopertina.svg") no-repeat center center;
        background-size: cover;
    }

    .overlay .container_swipeUp{
        width: 70px;
        height: 70px;
        display: block;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.5;
    }

    .subcontainer_immagine_principale{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 100px auto 0 auto;
        width: 70%;
        height: 40%;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .container_logo_grande{
        width: 65%;
        height: 30%;
    }

    .container_frase{
        width: 100%;
        height: 50%;
        margin-top: 10px;
        border-top: solid #F0B357;
        border-width: 3px;
    }

    .subcontainer_immagine_principale div{
        margin: 0 auto 0 auto;
    }

    .frase{
        font-family: Kristi, sans-serif;
        font-size: 26px;
        text-align: center;
        color: #F0B357;
    }

    @media (min-width: 600px) {

        .container_frase{
            width: 90%;
        }

        .frase{
            font-size: 35px;
        }

    }

    @media (min-width: 1024px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Home/MainImg.png") no-repeat center center fixed;
            background-size: cover;
        }

        .container_frase{
            width: 80%;
        }

        .frase{
            font-size: 40px;
        }

    }

/* ... */




/* || BussinessBlock Element Style */

    .sezione_bussines_block{
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .sezione_bussines_block .bussines_block{
        flex-basis: 100%;
        padding: 50px 10px 50px 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .sezione_bussines_block .bussines_block .container_icona{
        height: 80px;
        width: 80px;
        margin: 0 auto 1.5rem auto;
        animation: fadeIn 1.5s ease;
    }

    .sezione_bussines_block .bussines_block .container_descrizione{
        width:70%;
        margin: 0 auto 0 auto
    }

    .sezione_bussines_block .bussines_block .container_descrizione .descrizioneBussiness{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 17px;
        color: #F0B357;
    }

    @media (min-width: 600px){

        .sezione_bussines_block{
            flex-wrap: nowrap;
        }

        .sezione_bussines_block .bussines_block{
            flex-basis: 55%;
        }

    }

    @media (min-width: 1024px) {

        .sezione_bussines_block .bussines_block {
            padding: 80px 20px 80px 20px;
        }

        .sezione_bussines_block .bussines_block .container_icona {
            height: 80px;
            width: 80px;
        }

        .sezione_bussines_block .bussines_block .container_descrizione .descrizioneBussiness {
            font-size: 18px;
        }

    }

    @media (min-width: 1920px){

        .sezione_bussines_block .bussines_block{
            padding: 110px 50px 110px 50px;
        }

        .sezione_bussines_block .bussines_block .container_icona{
            height: 100px;
            width: 100px;
        }

        .sezione_bussines_block .bussines_block .container_descrizione .descrizioneBussiness{
            font-size: 22px;
        }

    }

/* ... */




/* ||  Section1 Element Style */

    .sezione_chiSiamo{
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        padding: 15% 7% 15% 7%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center;
        background-size: cover;
    }

    .sezione_chiSiamo .container_descrizione{
        flex-basis: 100%;
        align-self: stretch;
        height: 100%;
    }

    .sezione_chiSiamo .container_descrizione .header_descrizione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: white;
        font-weight: lighter;
    }

    .sezione_chiSiamo .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: white;
    }

    .sezione_chiSiamo .container_descrizione .container_paroleChiavi{
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        align-items: center;
        margin-top: 10px;
    }

    .sezione_chiSiamo .container_descrizione .container_paroleChiavi .parola_chiave{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        color: #FBFBFB;
    }

    .sezione_chiSiamo .container_descrizione .container_paroleChiavi .circle{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #D9D9D9;
        border-radius: 5px;
    }

    .btn_type1{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: white;
        font-weight: bold;
        background-color: rgba(119,4,4,1);
        padding: 10px 30px 10px 30px;
        margin: 20px auto 20px auto;
        border: none;
        cursor:pointer;
        box-shadow: 5px 5px 10px black;
        border-radius: 20px;
    }

    .btn_type1:hover{
        color: rgba(119,4,4,1);
        background-color: white;
    }

    .sezione_chiSiamo .container_immagine{
        display: inline-block;
        flex-basis: 100%;
        align-self: stretch;
        position: relative;
        height: 400px;
    }

    .sezione_chiSiamo .container_immagine .img_bg{
        position:absolute;
        background:rgba(119,4,4,1);
        width: 75%;
        height: 75%; top:0; left:0;
    }

    .sezione_chiSiamo .container_immagine .subcontainer_immagine{
        position:absolute;
        width: 93%;
        height: 95%;
        top:5%; left:7%;
    }

    @media (min-width: 600px){

        .sezione_chiSiamo {
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 15% 7% 15% 7%;
        }

        .sezione_chiSiamo .container_descrizione{
            align-self: center;
            flex-basis: 50%;
        }

        .sezione_chiSiamo .container_immagine{
            display: inline-block;
            align-self: center;
            flex-basis: 50%;
            height: 450px;

        }

    }

    @media (min-width: 1024px){

        .sezione_chiSiamo {
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            padding: 5% 10% 5% 10%;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_chiSiamo .container_descrizione{
            align-self: center;
            flex-basis: 50%;
        }

        .sezione_chiSiamo .container_immagine{
            display: inline-block;
            align-self: center;
            flex-basis: 50%;
        }

    }

    @media (min-width: 1920px){

        .sezione_chiSiamo {
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            padding: 5% 12% 5% 12%;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_chiSiamo .container_descrizione{
            align-self: center;
            flex-basis: 50%;
        }

        .sezione_chiSiamo .container_descrizione .header_descrizione{
            font-size: 50px;
        }

        .sezione_chiSiamo .container_descrizione .body_descrizione{
            font-size: 24px;
        }

        .sezione_chiSiamo .container_descrizione .container_paroleChiavi .parola_chiave{
            font-size: 26px;
        }

        .sezione_chiSiamo .container_descrizione .container_paroleChiavi .circle{
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #D9D9D9;
            border-radius: 5px;
        }

        .btn_type1{
            font-size: 22px;
        }

        .sezione_chiSiamo .container_immagine{
            display: inline-block;
            align-self: center;
            flex-basis: 50%;
        }

    }

/* ... */




/* ||  Section2 Element Style */

    .sezione_showRoom{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        gap: 0;
        padding: 0 0 0 0;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background2.jpg) no-repeat center center;
        background-size: cover;
        overflow: hidden;
    }

    .sezione_showRoom .container_immagine{
        display: inline-block;
        flex-basis: 100%;
        align-self: stretch;
        height: 400px;
    }

    .sezione_showRoom .container_descrizione{
        flex-basis: 100%;
        align-self: stretch;
        height: 100%;
        background-color: #770404;
        padding: 7% 7% 7% 7%;
    }

    .sezione_showRoom .container_descrizione .header_descrizione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: white;
        font-weight: lighter;
    }

    .sezione_showRoom .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: white;
    }

    .btn_type2{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #770404;
        font-weight: bold;
        background-color: rgba(255,255,255,1);
        padding: 15px 20px 15px 20px;
        margin: 20px auto 20px auto;
        border: white solid 2px;
        cursor:pointer;
        box-shadow: 5px 5px 10px black;
        border-radius: 25px;
    }

    .btn_type2:hover{
        color: white;
        background-color: #770404;
        border: white solid 2px;
    }

    @media (min-width: 600px){

        .sezione_showRoom .container_descrizione{
            flex-basis: 55%;
        }

        .sezione_showRoom .container_immagine{
            display: inline-block;
            flex-basis: 45%;
            align-self: center;

        }

        .sezione_showRoom .container_descrizione .header_descrizione{
            font-size: 36px;
        }

        .sezione_showRoom .container_descrizione .body_descrizione{
            font-size: 18px;
        }

    }

    @media (min-width: 1024px){

        .sezione_showRoom{
           background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center fixed;
           background-size: cover;
       }

        .sezione_showRoom .container_immagine{
            display: inline-block;
            flex-basis: 45%;
            align-self: center;
        }

        .sezione_showRoom .container_descrizione{
            flex-basis: 55%;
            padding: 5% 5% 5% 5%;
        }

        .sezione_showRoom .container_descrizione .header_descrizione{
            font-size: 40px;
        }

        .sezione_showRoom .container_descrizione .body_descrizione{
            font-size: 20px;
        }

    }

    @media (min-width: 1920px){

        .sezione_showRoom{
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_showRoom .container_immagine{
            display: inline-block;
            flex-basis: 45%;
            align-self: center;

        }

        .sezione_showRoom .container_descrizione{
            flex-basis: 55%;
            padding: 3% 5% 3% 5%;
        }

        .sezione_showRoom .container_descrizione .header_style{
            font-size: 44px;
        }

        .sezione_showRoom .container_descrizione .body_descrizione{
            font-size: 24px;
        }

        .btn_type2{
            font-size: 20px;
            padding: 15px 30px 15px 30px;
        }

    }

/* ... */




/* ||  Section3 Element Style */

    .sezione_prodotti{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        gap: 10px;
        padding: 15% 7% 15% 7%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background3.jpg) no-repeat center center;
        background-size: cover;
    }

    .sezione_prodotti .container_descrizione{
        flex-basis: 100%;
        align-self: stretch;
        height: 100%;
    }

    .sezione_prodotti .container_descrizione .header_descrizione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: white;
        font-weight: lighter;
    }

    .sezione_prodotti .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: white;
    }

    .sezione_prodotti .container_descrizione .btn_type1{
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: white;
            font-weight: bold;
            background-color: rgba(119,4,4,1);
            padding: 13px 20px 13px 20px;
            margin: 20px auto 20px auto;
            border: none;
            cursor:pointer;
            box-shadow: 5px 5px 10px black;
        }

    .sezione_prodotti .container_descrizione .btn_type1:hover{
            color: rgba(119,4,4,1);
            background-color: white;
        }

    .sezione_prodotti .container_immagine{
        display: inline-block;
        flex-basis: 100%;
        align-self: stretch;
        position: relative;
        height: 400px;
    }

    .sezione_prodotti .container_immagine .img_bg1{
        position:absolute;
        background:rgba(119,4,4,1);
        width: 75%;
        height: 75%;
        top:0;
        left:0;
        z-index: 1;
    }

    .sezione_prodotti .container_immagine .img_bg2{
        position:absolute;
        background:rgba(119,4,4,1);
        width: 75%;
        height: 75%;
        bottom:0;
        right: 0;
        z-index: 2;
    }

    .sezione_prodotti .container_immagine .subcontainer_immagine{
        position:absolute;
        width: 86%;
        height: 90%;
        top:5%;
        bottom:5%;
        left:7%;
        right: 7%;
        z-index: 3;
    }

    @media (min-width: 600px){

        .sezione_prodotti {
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 15% 7% 15% 7%;
        }

        .sezione_prodotti .container_descrizione{
            align-self: center;
            flex-basis: 50%;
        }

        .sezione_prodotti .container_immagine{
            display: inline-block;
            align-self: center;
            flex-basis: 50%;
            height: 450px;
        }

    }

    @media (min-width: 1024px){

        .sezione_prodotti {
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            padding: 5% 10% 5% 10%;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_prodotti .container_descrizione{
            align-self: center;
            flex-basis: 50%;
        }

        .sezione_prodotti .container_immagine{
            display: inline-block;
            align-self: center;
            flex-basis: 50%;
        }

    }

    @media (min-width: 1920px){

        .sezione_prodotti {
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            padding: 5% 12% 5% 12%;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Immagini/Home/Background1.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        .sezione_prodotti .container_descrizione{
            align-self: center;
            flex-basis: 50%;
        }

        .sezione_prodotti .container_descrizione .header_descrizione{
            font-size: 50px;
        }

        .sezione_prodotti .container_descrizione .body_descrizione{
            font-size: 24px;
        }

        .btn_type1{
            font-size: 22px;
        }

        .sezione_prodotti .container_immagine{
            display: inline-block;
            align-self: center;
            flex-basis: 50%;
        }

    }

/* ... */









