* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: sans-serif;
    background-color: white;
    height: 100%;
    max-width: 100%;
    margin: 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

/* || Main Image Element Style */

    .container_immagine_principale{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/ChiSiamo/Background1.jpg") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }

    .frase{
        color: white;
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        font-weight: lighter;
        text-transform: uppercase;
        opacity: 0;
        animation: fadeInFrase 1s ease-out forwards;
    }

    @keyframes fadeInFrase {
        to {
            opacity: 1;
        }
    }

    @media (min-width: 600px) {

        .frase{
            font-size: 50px;
        }

    }

    @media (min-width: 1024px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/ChiSiamo/Background1.jpg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 64px;
        }

    }

    @media (min-width: 1920px) {

        .container_immagine_principale{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/ChiSiamo/Background1.jpg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 64px;
        }

    }

/* ... */




/* || Sezione Intro */

    .container_intro{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10% 7% 10% 7%;
        gap:50px
    }

    .container_intro .container_slogan{
       flex-basis: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container_intro .container_slogan .header_slogan{
        font-family: 'Helvetica Neue',sans-serif;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .container_intro .container_slogan .subheader_slogan{
        font-family: 'Montserrat',sans-serif;
        font-size: 20px;
    }

    .container_intro .container_caratteristiche{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:0px
    }

    .container_intro .container_caratteristiche .container_caratteristica{
        display: block;
        flex-basis: 85%;
        height: 350px;
        position: relative;
    }

    .container_intro .container_caratteristiche .container_caratteristica .container_immagine{
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .container_intro .container_caratteristiche .container_caratteristica .container_descrizione{

        position: absolute;
        top:0;
        left: 0;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 100%;
        height: 100%;
        padding: 10px;
        text-align: center;
    }

    .container_intro .container_caratteristiche .container_caratteristica .container_descrizione .header_descrizione{
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 26px;
    }

    .container_intro .container_caratteristiche .container_caratteristica .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    .container_intro .container_caratteristiche .container_caratteristica .icona_touch{
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #770404;
        display: block;
        bottom: 20px;
        right: 10px;
        border-radius: 20px;
        padding: 7px;
        box-shadow: 3px 3px 8px black;
    }


    @media (min-width: 800px) {

        .container_intro{
            padding: 10% 7% 5% 7%;
        }

        .container_intro .container_slogan .header_slogan{
            font-size: 40px;
        }

        .container_intro .container_slogan .subheader_slogan{
            font-size: 24px;
        }

        .container_intro .container_caratteristiche{
            flex-wrap: nowrap;
            gap:0px
        }

        .container_intro .container_caratteristiche .container_caratteristica{
            flex-basis: 33%;
            height: 370px;
        }

    }

    @media (min-width: 1024px) {

        .container_intro{
            padding: 10% 10% 5% 10%;
        }

        .container_intro .container_slogan .header_slogan{
            font-size: 45px;
        }

        .container_intro .container_slogan .subheader_slogan{
            font-size: 25px;
        }

        .container_intro .container_caratteristiche .container_caratteristica{
            height: 400px;
        }

        .container_intro .container_caratteristiche .container_caratteristica:hover{
            transform: translateY(-30px);
            transition: transform 1s ease;
        }

        .container_intro .container_caratteristiche .container_caratteristica .container_descrizione .header_descrizione{
            font-size: 30px;
        }

        .container_intro .container_caratteristiche .container_caratteristica .container_descrizione .body_descrizione{
            font-size: 17px;
        }

        .container_intro .container_caratteristiche .container_caratteristica .icona_touch{
            display: none;
        }

    }

    @media (min-width: 1920px) {

        .container_intro{
            padding: 5% 10% 5% 10%;
            gap:70px;
        }

        .container_intro .container_caratteristiche .container_caratteristica{
            flex-basis: 25%;
        }

    }

/* ... */




/* || Immagine Divisoria */

    .container_immagine_divisoria{
        display: block;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }

    @media (min-width: 600px) {

        .container_immagine_divisoria{
            height: 400px;
        }

    }

    @media (min-width: 1024px) {

        .container_immagine_divisoria{
            height: 500px;
            background-attachment: fixed;
        }

    }

/* ... */




/* || Sezione Prodotti */

    .sezione_prodotti{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sezione_prodotti .container_immagine{
        display: block;
        flex-basis: 100%;
        height: 300px;
    }

    .sezione_prodotti .container_descrizione{
        display: block;
        flex-basis: 100%;
        padding: 5% 7%;
    }

    .sezione_prodotti  .container_descrizione .header_descrizione{
        font-family: 'Alfa Slab One', sans-serif;
        font-size: 40px;
        color: black;
        font-weight: lighter;
    }

    .sezione_prodotti  .container_descrizione .body_descrizione{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: black;
    }

    @media (min-width: 600px) {

        .sezione_prodotti .container_descrizione{
            padding: 5% 5% 5% 5%;
        }

        .sezione_prodotti .container_immagine{
            height: 300px;
        }

    }

    @media (min-width: 1024px) {

        .sezione_prodotti{
            flex-wrap: nowrap;
            align-items: center;
            padding: 5% 10% 5% 10%;
            gap:40px;
        }

        .sezione_prodotti .container_immagine{
            flex-basis: 40%;
        }

        .sezione_prodotti .container_descrizione{
            flex-basis: 60%;
            padding: 0%;
        }

    }

    @media (min-width: 1920px) {

        .sezione_prodotti  .container_descrizione .header_descrizione{
            font-size: 50px;
        }

        .sezione_prodotti  .container_descrizione .body_descrizione{
            font-size: 24px;
        }

    }

/* ... */




/* || Sezione "Catalogo" Elementi */

    .container_catalogo{
        display: flex;
        flex-wrap: wrap;
        padding: 10% 7% 10% 7%;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 20px
    }

    .container_catalogo .container_item{
        flex-basis: 43%;
        height: 150px;
        box-shadow: 5px 5px 10px black;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .container_catalogo .container_item .container_immagine{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .container_catalogo .container_item .overlay{
        position: absolute;
        top:0;
        left: -30%;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: #770404;
        transform: skew(-20deg, 0deg);
    }


    .container_catalogo .container_item h1{
        position: absolute;
        top:50%;
        left:5%;
        width: 65%;
        transform: translateY(-50%);
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        color: white;
        font-weight: bold;
        word-wrap: break-word;
    }

    @media (min-width: 600px){

        .container_catalogo{
            padding: 10% 5% 10% 5%;
            gap: 20px;
            justify-content: center;
        }

        .container_catalogo .container_item{
            flex-basis: 30%;
        }

    }

    @media (min-width: 1024px){

        .container_catalogo{
            padding: 5% 5% 5% 5%;
            justify-content: center;
        }

        .container_catalogo .container_item{
            flex-basis: 30%;
            height: 180px;
        }

        .container_catalogo .container_item h1{
            font-size: 25px;
        }

    }

    @media (min-width: 1920px){

        .container_catalogo{
            padding: 0% 10% 3% 10%;
            gap: 20px;
            justify-content: left;
        }

        .container_catalogo .container_item{
            flex-basis: 30%;
            height: 230px;
        }

        .container_catalogo .container_item h1{
            font-size: 30px;
        }

    }

/* ... */




/* || Sezione "Contattaci" Elementi */

    .sezione_contattaci{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #9d9999;
        padding: 5% 3% 5% 3%;
        gap: 20px;
        margin: 20px 0;
    }

    .sezione_contattaci .container_descrizione{
        flex-basis: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 10px;
    }

    .sezione_contattaci .container_descrizione .header_descrizione{
        width: 100%;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 24px;
        color: white;
    }

    .sezione_contattaci .container_descrizione .body_descrizione{
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: white;
    }

    .sezione_contattaci button{
        flex-basis: 50%;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        background-color: white;
        color: #770404;
        padding: 10px 0;
        border: none;
        font-weight: bold;
        box-shadow: 5px 5px 10px black;
        transition: color 1s, background-color 1s;
    }

    .sezione_contattaci button:hover{
        color: white;
        background-color: #770404;
    }

    @media (min-width: 600px){

        .sezione_contattaci{
            display: flex;
            padding: 5% 5% 5% 5%;
            gap: 30px;
        }

        .sezione_contattaci .container_descrizione{
            flex-basis: 70%;
        }

        .sezione_contattaci button{
            flex-basis: 20%;
        }

    }

    @media (min-width: 1024px){

        .sezione_contattaci{
            display: flex;
            padding: 5% 5% 5% 5%;
            gap: 50px;
        }

        .sezione_contattaci .container_descrizione{
            flex-basis: 75%;
        }

        .sezione_contattaci button{
            flex-basis: 15%;
        }

        .sezione_contattaci .container_descrizione .header_descrizione{
            font-size: 30px;
        }

        .sezione_contattaci .container_descrizione .body_descrizione{
            font-size: 20px;
        }

        .sezione_contattaci button{
            font-size: 20px;
        }

    }

    @media (min-width: 1920px){

        .sezione_contattaci{
            display: flex;
            padding: 3% 5% 3% 5%;
            gap: 100px;
        }

        .sezione_contattaci button{
            flex-basis: 10%;
        }

        .sezione_contattaci .container_descrizione .header_descrizione{
            font-size: 35px;
        }

        .sezione_contattaci .container_descrizione .body_descrizione{
            font-size: 23px;
        }

    }

/* ... */