* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: sans-serif;
    background-color: #EDEAEA;
    height: 100%;
    max-width: 100%;
    margin: 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

/* || Main Image Element Style */

    .main_img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Background/background_12.jpeg") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }

    .frase{
        color: white;
        font-family: 'Alfa Slab One';
        font-size: 30px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    @media (min-width: 600px) {

        .frase{
            font-size: 50px;
        }

    }

    @media (min-width: 1024px) {

        .main_img{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Background/background_12.jpeg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 64px;
        }

    }

    @media (min-width: 1920px) {

        .main_img{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Background/background_12.jpeg") no-repeat center center fixed;
            background-size: cover;
            padding-right: 15%;
            padding-left: 15%;
        }

        .frase{
            font-size: 64px;
        }

    }

/* ... */




/* || Section1 Element Style */

    .container_descrizione{
        background: #D9D9D9;
        padding: 10% 3% 10% 3%;
    }

    .container_descrizione h1{
        font-family: 'Alfa Slab One';
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 5%;
        color: black;
        text-transform: uppercase;
    }

    .container_descrizione p{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: lighter;
        color: black;
    }

    @media (min-width: 600px) {

        .container_descrizione {
            padding: 5% 5% 5% 5%;
        }

    }

    @media (min-width: 1024px) {

        .container_descrizione {
            padding: 5% 10% 5% 10%;
        }

        .container_descrizione h1{
            font-size: 40px;
            margin-bottom: 2%;
        }

        .container_descrizione p{
            font-size: 20px;
        }

    }

    @media (min-width: 1920px) {

        .container_descrizione {
            padding: 5% 10% 5% 10%;
        }

    }

/* ... */




/* || Section2 Element Style */

    .container_categorie{
        background: white;
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap:10px
    }

    .item{
        flex-basis: 48%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        row-gap: 10px;
    }

    .item div{
        display: block;
        width: 40px;
        height: 40px;
    }

    .item:hover{
        scale: 1.1;
        cursor: pointer;
    }

    .item h2{
        font-family: 'Alfa Slab One';
        font-size: 18px;
        font-weight: lighter;
    }

    .container_prodotto{
        display: none;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #191A1A;

    }

    .container_descrizione_prodotto{
        background: none;
        flex-basis: 100%;
        padding: 10% 3% 10% 3%;
    }

    .container_descrizione_prodotto h1{
        font-family: 'Alfa Slab One';
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 5%;
        color: white;
        text-transform: uppercase;
    }

    .container_descrizione_prodotto p{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: lighter;
        color: white;
    }

    .container_immagini{
        flex-basis: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display:none;
    }

    .immagine_prodotto{
        width: 100%;
        height: 100%;
        object-fit:contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }





/* ... */