* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #EDEAEA;
}



/* ---NavBar--- */

.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;

    transition: 0.6s;
    background-color: rgba(255,255,255,0);
}

.logo_navbar{
    width: 159px;
    height: 30px;
    margin-left: 2%;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 5%;
    gap: 6px;
}

.hamburger .line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #F0B357;
}

.nav_links{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 4.4rem;
    box-shadow: 0px 3px 10px lightgray;
    background: white;
    transition: 0.6;
}

.link_navbar{
    display: block;
    padding: 0.6rem;
    margin-left: 5%;
    width: 50%;

    color: black;
    font-family: 'Montserrat';
    font-size: 20px;
    font-width: bold;
    text-decoration: none;
}


@media screen and (min-width: 800px) { /* Responsive Tablet */

}

@media screen and (min-width: 1024px) { /* Responsive Desktop */

    .hamburger {
        display: none;
    }

    .nav_links {
        display: block;
        position: static;
        width: auto;
        margin-right: 5%;
        background: none;
        box-shadow: none;
        margin-top: 15px;
    }

    .link_navbar{
        text-align: center;
        padding: 0.1rem;
        display:inline-block;

        color: white;
        font-family: 'Montserrat';
        font-size: 19px;
        text-decoration: none;
        width: auto;
        margin-left: 15px;
    }

}






/* ---Inizio codice per stile dispositivi mobile--- */




    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /*margin-top: 70px;*/
    }

    .section{
        background: lightgray;
        flex-basis: 100%;
    }

    #section1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Immagini/Background/background_9.jpg") no-repeat center center fixed;
    }

    .over-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 100px auto 0 auto;
        animation: fadeIn 1.5s ease;
        width: 70%;
        height: 40%;
    }

    .logo_grande{
        width: 65%;
        height: 30%;
    }

    .frase_space{
        width: 100%;
        height: 50%;
        border-top: solid #F0B357;
        border-width: 3px;
    }

    .over-text span{
        margin: 0 auto 0 auto;
    }

    .frase{
        font-family: Kristi;
        font-size: 26px;
        text-align: center;
        color: #F0B357;
    }

    #section2{
        display: flex;
        flex-wrap: wrap;
    }

    .bussines_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        height: 400px;
        flex-basis: 100%;

    }

    .descrizioneBussiness{
        font-family: Montserrat;
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
        color: #F0B357;
        animation: fadeIn 1.5s ease;
    }

    .icon_bussines_space{
        height: 80px;
        width: 80px;
        margin: 0 auto 1.5rem auto;
        animation: fadeIn 1.5s ease;
    }

    .bussines_description_space{
        width:70%;
        margin: 0 auto 0 auto
    }

    #section3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Immagini/Background/background_3.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 70px 50px 70px 50px;
    }

    .header_style{
        font-family: 'Alfa Slab One';
        font-size: 40px;
        color: white;
        font-weight: lighter;
    }

    .body_style{
        font-family: 'Montserrat';
        font-size: 18px;
        color: white;
    }

    .list_parole_chiavi{
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        align-items: center;
        margin-top: 10px;
    }

    .parola_chiave{
        font-family: Montserrat;
        font-weight: bolder;
        font-size: 18px;
        color: #FBFBFB;
    }

    .circle{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #D9D9D9;
        border-radius: 5px;
    }

    .btn_chisiamo{
        display: block;
        font-family: 'Montserrat';
        font-size: 18px;
        color: white;
        font-weight: bold;
        background-color: rgba(119,4,4,1);
        padding: 10px 30px 10px 30px;
        margin: 20px auto 20px auto;
        border: none;
    }


    .img_content{
        width: 100%;
        height: 410px;
        background-color: green;
    }

    #section4{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Immagini/Background/background_4.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 70px 50px 70px 50px;
    }


    #section5{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Immagini/Background/background_2.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 70px 50px 70px 50px;
    }


    .footer-header{
        color: white;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: bold;
        padding: 5px 0 5px 0;
        border-bottom: white solid;
        border-top: white solid;
        margin-bottom: 10px;
    }

    .footer-body{
        color: white;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: lighter;
        padding: 2px 0 2px 0;
    }


    .social_link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 10px;
        margin: 10% auto 10% auto;
    }

    .social{
        width: 70px;
        height: 70px;
    }

/* ---Fine codice per stile dispositivi mobile--- */




/* ---Inizio codice per stile desktop--- */

@media screen and (min-width: 1024px) {

    #section1{
            height: 612px;
    }

    .frase_space{
        width: 80%;
        margin-top: 10px;
    }

    .frase{
        font-size: 40px;
    }

    #section2{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .bussines_block{
        height: 400px;
        flex-basis: 50%;
    }

    .descrizioneBussiness{
        font-size: 1.25rem;
    }

    .icon_bussines_space{
        height: 110px;
        width: 110px;
    }

    #section3{
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        padding: 70px 150px 70px 150px;
    }

    #section4{
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        padding: 70px 150px 70px 150px;
    }

    #section5{
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        padding: 70px 150px 70px 150px;
    }

    .content{
        flex-basis: 40%;
    }

    .img_content{
        flex-basis: 30%;
    }



}

/* ---Fine codice per stile desktop--- */



/* ---Animazioni--- */

.link_navbar:hover {
    text-decoration: underline;
}

.btn_chisiamo:hover{

}


@keyframes fadeIn {
    from {
        opacity: 0; /* Testo completamente trasparente all'inizio dell'animazione */
    }
    to {
        opacity: 1; /* Testo completamente visibile alla fine dell'animazione */
    }
}



